<!doctype html>
<html>
<head>
    <title>tenzing ~ style guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/build/styles/main.css">
</head>
<body class="tnsg-Body">
    <h1 class="tnsg-PageTitle">tenzing</h1>

    <nav class="tnsg-NavList">
        {{#each components}}
            <a href="#tnsg-{{slug}}">{{#if title}}{{title}}{{else}}{{slug}}{{/if}}</a>
        {{/each}}
    </nav>

    <nav class="tnsg-GroupList">
        {{#each groups}}
            <a href="#/group/{{slug}}">{{title}}</a>
        {{/each}}
    </nav>

    {{#each components}}
        <div class="tnsg-Component {{#if group}}tnsg-Group tnsg-Group-{{group.slug}}{{/if}}">
            <h2 class="tnsg-Component-title" id="tnsg-{{slug}}">
                {{#if title}}{{title}}{{else}}{{slug}}{{/if}}
                <a class="tnsg-Component-permalink" href="#tnsg-{{slug}}">¶</a>
            </h2>
            {{#if details}}
                <div class="tnsg-Component-detail">
                    {{{details}}}
                </div>
            {{/if}}
            <div class="tnsg-Component-rendered">
                {{{rendered}}}
            </div>
            <div class="tnsg-Component-code language-markup">
                <pre><code>{{{code}}}</code></pre>
            </div>
        </div>
    {{/each}}

    <script src="/build/scripts/main.js"></script>
</body>
</html>