<!doctype html>
<html>
<head>
    <title>tenzing ~ style guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="tnsg-Body">
    <div class="tnsg-Wrapper">
        <header class="tnsg-PageTitle">
            <h1>tenzing</h1>
            <button class="tnsg-Nav-toggle">Toggle navigation</button>
        </header>

        <div class="tnsg-Nav">
            <nav class="tnsg-Nav-items--collapsed">
                {{#each groups}}
                    <a href="#tnsg-Group-{{slug}}">{{title}}</a>
                {{/each}}
            </nav>
        </div>

        <div class="tnsg-Content">
            {{#each groups}}
                <div id="tnsg-Group-{{slug}}" class="tnsg-Group">
                    <h2 class="tnsg-Group-title">{{title}}</h2>
                    {{#each components}}
                        <div id="Component-{{slug}}" class="tnsg-Component">
                            <h3 class="tnsg-Component-title" id="tnsg-{{slug}}">
                                {{#if title}}{{title}}{{else}}{{slug}}{{/if}}
                                <a class="tnsg-Component-permalink" href="#tnsg-{{slug}}">¶</a>
                            </h3>
                            {{#if details}}
                                <div class="tnsg-Component-detail">
                                    {{{details}}}
                                </div>
                            {{/if}}
                            <div class="tnsg-Component-rendered">
                                <span class="tnsg-Component-rendered-label">Example</span>
                                {{{code}}}
                            </div>
                            <div class="tnsg-Component-code language-markup">
                                <pre><code>{{{highlighted}}}</code></pre>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>

    <script src="/scripts/main.js"></script>
</body>
</html>