@import 'highlight-github';

$type--sans: 'Droid Sans', sans-serif;
$type--mono: 'Droid Sans Mono', monospace;
$type--serif: 'Droid Serif', serif;
$color--accent: #f8f8f8;
$color--border: #dddddd;
$color--type: #666666;

$baseline: 6px;

@mixin prefixer($property, $value) {
    @each $prefix in webkit moz ms o {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}
.tnsg-Body {
}
.tnsg-Wrapper {
    @include prefixer(transition, 200ms all ease-in-out);

    &.tnsg-ToggleActive {
        @include prefixer(transform, translate3D(200px, 0, 0));
    }
}
.tnsg-PageTitle {
    color: $color--type;
    font-size: $baseline * 4;
    font-family: $type--serif;
    padding: $baseline * 2;
    padding-left: 2em;
    border-bottom: 1px solid $color--border;
    background: transparentize($color--accent, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    line-height: 1;

    h1 {
        margin: 0;
        font-size: 1em;
    }
}
.tnsg-Nav {
    display: block;
    width: 200px;
    background: #333;
    color: white;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    left: -200px;
    font-family: $type--sans;
    font-size: $baseline * 2;
    border-right: 1px solid #000;

    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: $baseline;

        &:hover,
        &:focus {
            background: $color--accent;
        }
    }
}
.tnsg-Nav-toggle {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #333;
    text-indent: -999em;
    overflow: hidden;
    width: $baseline * 8;
    height: $baseline * 8;
}
.tnsg-Content {
    border-top: $baseline * 8 solid rgba(255,255,255,0);
    margin: 0 0 $baseline * 3 0;
    padding: 0 $baseline * 2;
    box-sizing: border-box;
    width: 100%;
}
.tnsg-Component {
    margin-bottom: $baseline * 4;
}
.tnsg-Group-title {
    font-size: $baseline * 3;
    color: $color--type;
    padding: $baseline $baseline * 2;
    margin: -1px $baseline * -2 $baseline * 3 $baseline * -2;
    line-height: 1;
    border-top: 1px solid $color--border;
    border-bottom: 1px solid $color--border;
    background: $color--accent;
    font-family: $type--sans;

    a {
        opacity: 0;
    }
    &:hover a,
    &:active a {
        opacity: 1;
        color: $color--type;
        text-decoration: none;
    }
}
.tnsg-Component-title {
    margin: 0 0 $baseline * 3 0;
    font-family: $type--sans;
    font-weight: 700;
    font-size: $baseline * 2;
    color: $color--type;
}
.tnsg-Component-detail {
    margin: 0 0 $baseline * 3 0;
    font-family: $type--serif;
    font-size: $baseline * 2;
    color: $color--type;

    p,
    code,
    blockquote {
        margin: 0 0 $baseline * 2 0;
    }
}
.tnsg-Component-code {
    font-size: $baseline * 2;
    font-family: $type--mono;
    margin: 0 0 $baseline * 3 0;

    pre {
        text-shadow: none;
        background: $color--accent;
        border: 1px solid $color--border;
        line-height: 1.4em;
        padding: $baseline;
        margin: 0;
    }
    code {
        margin: 0;
        padding: 0;
    }
}
.tnsg-Component-rendered {
    margin: 0 0 $baseline * 3 0;
    padding: $baseline * 2;
    padding-top: $baseline * 5;
    border: 1px solid $color--border;
    position: relative;
}
.tnsg-Component-rendered-label {
    position: absolute;
    top: 0;
    left: 0;
    font-family: $type--sans;
    font-size: $baseline * 2;
    color: lighten($color--type, 30);
    background: $color--accent;
    padding: $baseline * 0.5;
    display: block;
}
.tnsg-Group {

}
